* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

header {
    text-align: center;
    height: 100vh;
    padding-top: 60%;
}

.title {
    font-size: 4rem;
}

.scroll-down {
    color: #ffffff;
}